/* mobile version*/
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .makeAdminForm {
    margin-top: 120px;
  }
  .emailContainer {
    display: block !important;
  }

  .adminBtn {
    margin: 20px 0px !important;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .makeAdminForm {
    margin-top: 120px;
  }
  .emailContainer {
    display: block !important;
  }

  .adminBtn {
    margin: 20px 0px !important;
  }
}
