/* mobile version*/
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .sliderContainer {
    margin: 0 !important;
    padding: 0 !important;
    height: 55vh !important;
  }
  .sliderMenu {
    padding: 5px 20px !important;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .sliderContainer {
    margin: 0 !important;
    padding: 0 !important;
    height: 55vh !important;
  }
  .sliderMenu {
    padding: 5px 20px !important;
  }
}
